body{
	background-color: #E67E22;
}

#bloc_gauche{
	float: left;
	background-color: ORANGE;
	width: 19.5%;
	height: 890px;
	margin-left: 0.5%;
	margin-top: 2%;
	border:1px solid black;
	text-shadow: 1px 1px 1px #00000;
}

#text_1{
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

#text_2{
	margin-top: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

#text_3{
	margin-top: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

#text_4{
	margin-top: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

#text_5{
	margin-top: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

#text_6{
	margin-top: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

#img_1{
	margin-top: 17%;
	margin-left: 1%;
	margin-right: 1%;
}


#bloc_droit_haut{
	background-color: ORANGE;
	float: right;
	width: 74.5%;
	height: 220px;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 0.5%;
	border:1px solid black;
	text-shadow: 1px 1px 1px #00000;
}

#titre_1{
	margin-left: 2%;
}

#titre_2{
	margin-left: 2%;
}

#paragraphe_1{
	margin-left: 2%;
}

#bloc_droit_medium{
	background-color: ORANGE;
	float: right;
	width: 74.5%;
	height: 220px;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 0.5%;
	border:1px solid black;
	text-shadow: 1px 1px 1px #00000;
}

#paragraphe_1 a{
	list-style: none;
	text-decoration: none;
}

#bloc_droit_bas{
	background-color: ORANGE;
	float: right;
	width: 74.5%;
	height: 220px;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 0.5%;
	border:1px solid black;
	text-shadow: 1px 1px 1px #00000;
}


#bloc_bas{
	background-color: ORANGE;
	float: right;
	width: 60%;
	height: 115px;
	margin-top: 2%;
	margin-right: 0.5%;
	border:1px solid black;
	text-shadow: 1px 1px 1px #00000;
}


#reseaux{
	float: left;
	width: 30%;
	margin-left: 4%;
}

#img_5{
	float: left;
	width: 8%;
}
#img_6{
	float: left;
	width: 8%;
}

#img_7{
	float: left;
	width: 8%;
}


#facebook{
	float: left;
}

#twitter{

}

#instagrame{

}

#img_2{
	float: left;
	width: 12.4%;
}

#img_3{
	float: left;
	width: 12.4%;
	margin-left: 0.4%;
}

#img_4{
	float: left;
	width: 12.4%;
	margin-right: 0.4%;
}